/* .codehilite {
    display: none
} */

img {
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.md-typeset__table {
  min-width: 100%;
}

/* unordered list */
.md-content ul li {
  list-style-type:  circle;
}

.md-content ul li li {
  list-style-type:  square;
}

/* .videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 94%;
} */


.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}