{% extends "overrides/main.html" %}
  {% block tabs %}
    {{ super() }}
    <style>.md-header{position:initial}.md-main__inner{margin:0}.md-content{display:none}@media screen and (min-width:60em){.md-sidebar--secondary{display:none}}@media screen and (min-width:76.25em){.md-sidebar--primary{display:none}}</style>
    <section class="mdx-container">
      <div class="md-grid md-typeset">
        <div class="mdx-hero">
          <div class="mdx-hero__image">
            <img src="image/banner.jpeg" alt="" width="1659" height="1200" draggable="false">
          </div>
          <div class="mdx-hero__content">
            <h1>Course Material</h1>
            <p>{{ config.site_description }}</p>
            <a href="{{ page.next_page.url | url }}" title="{{ page.next_page.title | e }}" class="md-button md-button--primary">
              Quick start
            </a>
            <a href="https://forms.gle/xrWDCPiJUgo4rL2j8" title="Registration Form" class="md-button">
              Register Here 
            </a>
          </div>
        </div>
      </div>

      <div class="md-grid md-typeset"></div>
      <div class="w-48 mx-auto pt-6 border-b-2 border-orange-500 text-center text-2xl text-blue-700">LEADERBOARD</div>
      <div class="p-2 text-center text-lg text-gray-700">Performance of Active Participants.</div>
      <div class="container pt-8 mx-auto" x-data="loadEmployees()">
        <input
          x-ref="searchField"
          x-model="search"
          x-on:click="viewPage(0)"
          x-on:keydown.window.prevent.slash=" viewPage(0), $refs.searchField.focus()"
          placeholder="Search for a student..."
          type="search"
          class="block w-full bg-gray-200 focus:outline-none focus:shadow text-gray-700 font-bold rounded-lg px-4 py-3"
        />
        <div class="mt-4 grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
          <template x-for="item in filteredEmployees" :key="item">
            <div
              class="flex items-center shadow hover:bg-indigo-100 hover:shadow-lg hover:rounded transition duration-150 ease-in-out transform hover:scale-105 p-3"
            >
              <img
                class="w-10 h-10 rounded-full mr-4"
                src="image/python-icon.png"
              />
              <div class="text-sm">
                <p
                  class="text-gray-900 leading-none"
                  x-text="item.Name + ' (' + item.Rank + ')'"
                ></p>
                <p
                  class="text-gray-600"
                  x-text="item.Total + ' Marks in ' + item.Attempted +' Quiz'"
                ></p>
              </div>
            </div>
          </template>
        </div>
  
        <div
          class="w-full md:w-1/2 mx-auto py-6 flex justify-between items-center"
          x-show="pageCount() > 1"
        >
          <!--First Button-->
          <button
            x-on:click="viewPage(0)"
            :disabled="pageNumber==0"
            :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber==0 }"
          >
            <svg
              class="h-8 w-8 text-indigo-600"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polygon points="19 20 9 12 19 4 19 20"></polygon>
              <line x1="5" y1="19" x2="5" y2="5"></line>
            </svg>
          </button>
  
          <!--Previous Button-->
          <button
            x-on:click="prevPage"
            :disabled="pageNumber==0"
            :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber==0 }"
          >
            <svg
              class="h-8 w-8 text-indigo-600"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="15 18 9 12 15 6"></polyline>
            </svg>
          </button>
  
          <!-- Display page numbers -->
          <template x-for="(page,index) in pages()" :key="index">
            <button
              class="px-3 py-2 rounded"
              :class="{ 'bg-indigo-600 text-white font-bold' : index === pageNumber }"
              type="button"
              x-on:click="viewPage(index)"
            >
              <span x-text="index+1"></span>
            </button>
          </template>
  
          <!--Next Button-->
          <button
            x-on:click="nextPage"
            :disabled="pageNumber >= pageCount() -1"
            :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber >= pageCount() -1 }"
          >
            <svg
              class="h-8 w-8 text-indigo-600"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polyline points="9 18 15 12 9 6"></polyline>
            </svg>
          </button>
  
          <!--Last Button-->
          <button
            x-on:click="viewPage(Math.ceil(total/size)-1)"
            :disabled="pageNumber >= pageCount() -1"
            :class="{ 'disabled cursor-not-allowed text-gray-600' : pageNumber >= pageCount() -1 }"
          >
            <svg
              class="h-8 w-8 text-indigo-600"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <polygon points="5 4 15 12 5 20 5 4"></polygon>
              <line x1="19" y1="5" x2="19" y2="19"></line>
            </svg>
          </button>
        </div>
  
        <div>
          <div
            class="mt-6 flex flex-wrap justify-between items-center text-sm leading-5 text-gray-700"
          >
            <div
              class="w-full sm:w-auto text-center sm:text-left"
              x-show="pageCount() > 1"
            >
              Page <span x-text="pageNumber+1"> </span> of
              <span x-text="pageCount()"></span> | Showing
              <span x-text="startResults()"></span> to
              <span x-text="endResults()"></span>
            </div>
  
            <div
              class="w-full sm:w-auto text-center sm:text-right"
              x-show="total > 0"
            >
              Total <span class="font-bold" x-text="total"></span> results
            </div>
  
            <!--Message to display when no results-->
            <div
              class="mx-auto flex items-center font-bold text-red-500"
              x-show="total===0"
            >
              <svg
                class="h-8 w-8 text-red-500"
                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path stroke="none" d="M0 0h24v24H0z" />
                <circle cx="12" cy="12" r="9" />
                <line x1="9" y1="10" x2="9.01" y2="10" />
                <line x1="15" y1="10" x2="15.01" y2="10" />
                <path d="M9.5 16a10 10 0 0 1 6 -1.5" />
              </svg>
  
              <span class="ml-4"> No results!!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
  {% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}